Repository flyingpfirsich/image_uploader: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "frontend/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "frontend/**/*.css": ["prettier --write"],
  "backend/**/*.ts": ["eslint --fix", "prettier --write"],
  "**/*.{json,md}": ["prettier --write"]
}

feat: implement authenticated media and avatar loading
  backend/src/app.ts
  backend/src/routes/uploads.ts
  frontend/src/components/common/AuthenticatedAvatar.tsx
  frontend/src/components/common/AuthenticatedMedia.tsx
  frontend/src/components/feed/PostCard.tsx
  frontend/src/components/profile/EditProfile.tsx
  frontend/src/components/profile/Profile.tsx
  frontend/src/components/profile/ProfileCalendar.tsx
  frontend/src/hooks/useAuthenticatedMedia.ts
  frontend/src/services/api.ts
Due: eslint --fix, prettier --write

improve linter
  .lintstagedrc.json
Due: prettier --write

refactor: remove unused music share function and add new components for day detail and upcoming birthdays
  backend/src/services/music.service.ts
  frontend/src/components/profile/DayDetailModal.tsx
  frontend/src/components/profile/ProfileCalendar.tsx
  frontend/src/components/profile/UpcomingBirthdays.tsx
  frontend/src/services/api.ts
  frontend/src/services/api/admin.ts
  frontend/src/services/api/auth.ts
  frontend/src/services/api/client.ts
  frontend/src/services/api/index.ts
  frontend/src/services/api/media.ts
  frontend/src/services/api/music.ts
  frontend/src/services/api/notifications.ts
  frontend/src/services/api/posts.ts
  frontend/src/services/api/types.ts
  frontend/src/services/api/users.ts
Due: eslint --fix, prettier --write

add testing suite
  .husky/pre-commit
  .lintstagedrc.json
  backend/eslint.config.js
  backend/package.json
  backend/src/app.ts
  backend/src/db/index.ts
  backend/src/routes/admin.ts
  backend/src/services/auth.service.test.ts
  backend/src/services/post.service.test.ts
  backend/src/test/setup.ts
  backend/tsconfig.json
  backend/vitest.config.ts
  frontend/eslint.config.js
  frontend/src/components/admin/TestingTools.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/services/api/admin.ts
  frontend/src/services/api/client.test.ts
  frontend/src/services/api/client.ts
  frontend/src/services/api/index.ts
  frontend/src/styles/components/_admin.css
  frontend/src/styles/components/_buttons.css
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
  package-lock.json
  package.json
  security.md
Due: eslint --fix, prettier --write

add comment feature
  backend/drizzle/0003_comments.sql
  backend/drizzle/meta/0003_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/db/schema.ts
  backend/src/routes/posts.ts
  backend/src/services/post.service.test.ts
  backend/src/services/post.service.ts
  backend/src/test/setup.ts
  frontend/src/components/feed/Comments.tsx
  frontend/src/components/feed/PostCard.tsx
  frontend/src/services/api/index.ts
  frontend/src/services/api/posts.ts
  frontend/src/styles/components/_comments.css
  frontend/src/styles/components/_post-card.css
  frontend/src/styles/index.css
  frontend/src/types/index.ts
Due: eslint --fix, prettier --write

Fix pre-commit hook: add lint and tests, install jsdom at root
  .husky/pre-commit
  .lintstagedrc.js
  .lintstagedrc.json
  backend/drizzle/0004_lists.sql
  backend/drizzle/meta/_journal.json
  backend/src/app.ts
  backend/src/db/schema.ts
  backend/src/routes/feed.ts
  backend/src/routes/lists.ts
  backend/src/services/list.service.ts
  backend/vitest.config.ts
  frontend/src/components/feed/Feed.tsx
  frontend/src/components/feed/ListActivityItem.tsx
  frontend/src/components/lists/AddListItem.tsx
  frontend/src/components/lists/CreateList.tsx
  frontend/src/components/lists/ListCard.tsx
  frontend/src/components/lists/ListDetail.tsx
  frontend/src/components/lists/ListItemRow.tsx
  frontend/src/components/lists/ListSection.tsx
  frontend/src/components/lists/index.ts
  frontend/src/components/profile/Profile.tsx
  frontend/src/services/api/index.ts
  frontend/src/services/api/lists.ts
  frontend/src/services/api/types.ts
  frontend/src/styles/components/_lists.css
  frontend/src/styles/index.css
  frontend/src/types/index.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: handle missing daily_notification_time table gracefully
  backend/src/services/notification.service.ts
Due: eslint --fix, prettier --write

fix: improve migration error logging and fix journal consistency
  backend/drizzle/meta/_journal.json
  backend/src/db/index.ts
Due: eslint --fix, prettier --write

fix: handle 'already exists' errors from migration cause
  backend/src/db/index.ts
Due: eslint --fix, prettier --write

fix: add missing 0004_lists migration snapshot
  backend/drizzle/meta/0004_snapshot.json
  backend/drizzle/meta/_journal.json
Due: prettier --write

refactor: simplify migrations to standard Drizzle approach
  backend/src/db/index.ts
Due: eslint --fix, prettier --write

fix db
  backend/drizzle/0004_lists.sql
Due: none

feat: auth improvements with refresh tokens and HTTPS middleware
  backend/drizzle/0005_green_grey_gargoyle.sql
  backend/drizzle/meta/0005_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/app.ts
  backend/src/config.ts
  backend/src/db/schema.ts
  backend/src/middleware/auth.ts
  backend/src/middleware/https.ts
  backend/src/routes/auth.ts
  backend/src/services/auth.service.ts
  backend/src/test/setup.ts
  backend/src/utils/jwt.ts
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/api/auth.ts
  frontend/src/services/api/index.ts
  frontend/src/services/api/types.ts
Due: eslint --fix, prettier --write

update readme
  README.md
Due: prettier --write

add claude.md
  CLAUDE.md
Due: prettier --write

add mobile setup
  .gitignore
  frontend/vite.config.ts
Due: eslint --fix, prettier --write

feat: add collapsible recent songs section to profile
  frontend/src/components/profile/Profile.tsx
  frontend/src/components/profile/RecentSongs.css
  frontend/src/components/profile/RecentSongs.tsx
  frontend/src/styles/components/_profile.css
Due: eslint --fix, prettier --write

add config files
  .claude/settings.json
  .emdash.json
  DESIGN.md
Due: prettier --write

Add CreatePostUnified component with collapsible viewfinder
  frontend/src/components/feed/CreatePostUnified.tsx
  frontend/src/styles/components/_modal.css
Due: eslint --fix, prettier --write

Integrate CreatePostUnified and improve camera behavior
  frontend/src/components/camera/CameraPreview.tsx
  frontend/src/components/feed/CreatePost.tsx
  frontend/src/components/feed/CreatePostCompose.tsx
Due: eslint --fix, prettier --write

Improve post creation: inline music search and auto-collapse viewfinder
  frontend/src/components/feed/CreatePostUnified.tsx
  frontend/src/styles/components/_modal.css
  frontend/src/types/index.ts
Due: eslint --fix, prettier --write

feat: add image caching for faster loading in feed and archive
  frontend/public/sw.js
  frontend/src/components/common/AuthenticatedMedia.tsx
  frontend/src/components/profile/ArchiveGalleryItem.tsx
  frontend/src/components/profile/EditProfile.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuthenticatedMedia.ts
  frontend/src/hooks/useIntersectionObserver.ts
  frontend/src/services/api/client.ts
  frontend/src/services/api/media.ts
  frontend/vite.config.ts
Due: eslint --fix, prettier --write

Add multi-media post support with carousel navigation
  frontend/src/components/feed/CreatePost.tsx
  frontend/src/components/feed/CreatePostUnified.tsx
  frontend/src/styles/components/_modal.css
Due: eslint --fix, prettier --write

fix: video control bug
  frontend/src/styles/components/_modal.css
Due: prettier --write

fix: deduplicate songs by track name and artist
  frontend/src/components/profile/RecentSongs.tsx
Due: eslint --fix, prettier --write

fix: only load HTTPS certs in dev when they exist
  frontend/vite.config.ts
Due: eslint --fix, prettier --write

Revert "Merge pull request #8 from flyingpfirsich/feature/create-post-unified"
  .claude/settings.json
  .emdash.json
  .gitignore
  CLAUDE.md
  DESIGN.md
  README.md
  frontend/src/components/camera/CameraPreview.tsx
  frontend/src/components/feed/CreatePost.tsx
  frontend/src/components/feed/CreatePostCompose.tsx
  frontend/src/components/feed/CreatePostUnified.tsx
  frontend/src/styles/components/_modal.css
  frontend/src/types/index.ts
  frontend/vite.config.ts
Due: eslint --fix, prettier --write

fix: BeReal photo preview with swap and unified carousel
  frontend/src/components/feed/CreatePost.tsx
  frontend/src/components/feed/CreatePostUnified.tsx
  frontend/src/styles/components/_modal.css
Due: eslint --fix, prettier --write

chore: stop tracking sqlite database and ignore certs
  .gitignore
  backend/data/druzi.db
Due: none

fix: improve camera aspect ratios for BeReal-style capture
  frontend/src/hooks/useBeRealCapture.ts
  frontend/src/hooks/useCamera.ts
  frontend/src/styles/components/_camera.css
  frontend/src/styles/components/_post-card.css
Due: eslint --fix, prettier --write

chore: add basic-ssl plugin for HTTPS dev server
  frontend/package.json
  frontend/vite.config.ts
  package-lock.json
Due: eslint --fix, prettier --write

fix: bug with photo being removed before post
  frontend/src/components/feed/CreatePost.tsx
Due: eslint --fix, prettier --write

fix: remove second "getting selfie" text box
  frontend/src/components/feed/CreatePostUnified.tsx
Due: eslint --fix, prettier --write

fix: restore HTTPS dev server config lost in merge
  frontend/package.json
  frontend/vite.config.ts
  package-lock.json
Due: eslint --fix, prettier --write

fix: camera swap button
  frontend/src/components/camera/CameraPreview.tsx
Due: eslint --fix, prettier --write

fix: enforce 9:16 aspect ratio on BeReal overlay preview
  frontend/src/styles/components/_modal.css
Due: prettier --write

feat: add Android share target support
  frontend/public/manifest.json
  frontend/public/sw.js
  frontend/src/App.tsx
  frontend/src/components/feed/CreatePost.tsx
  frontend/src/utils/shareStorage.ts
Due: eslint --fix, prettier --write
